

  
{% extends 'base.html' %}
{% load static %}
{% block content %}

<title>Home</title>

<link rel="stylesheet" href="{% static 'styles/CSSstyle_home.css' %}">
    <div class="limiter">
        {% include 'messages.html' %}
        <img src="{% static 'images/logo.jpg' %}" id="logofcai">
        
        <center>
            <h1 style="color: black; " class="m-t-35"><b>Welcome, Studend Affairs Community</b></h1>
        </center>
        <div class="limiterr welc ">

            <div class="container">
                <p class="alert alert-warning m-t-50"> Show your profile <a class="here" href="{% url 'adminprofilepagepath' %}">Here</a></p>
            </div>



            <div class="container">
                <p class="alert alert-primary m-t-15"> Add new student  <a class="here" href="{% url 'addstudentpath' %}">Here</a></p>
            </div>

            <div class="container">
                <p class="alert alert-danger m-t-15"> Delete Student  <a class="here" href="{% url 'deletestudentpath' %}">Here</a></p>
            </div>

           <div class="container">
                <p class="alert alert-success m-t-15"> Search here to update student's data or assign department <a class="here"
                        href="{% url 'searchpath' %}">Here</a>
                </p>
            </div>

            <div class="container">
                <p class="alert alert-dark m-t-15"> Show Active Students  <a class="here" href="{% url 'activepath' %}">Here</a></p>
            </div>

            <div class="container">
                <p class="alert alert-secondary m-t-15"> Show Inactive Students  <a class="here" href="{% url 'inactivepath' %}">Here</a>
                </p>
            </div>

            <div class="container">
                <p class="alert alert-info m-t-15"> Show All Students  <a class="here" href="{% url 'showstudentpath' %}">Here</a></p>
            </div>


        </div>
        <img src="{% static 'images/logo2.png' %}" id="logocu">

    </div>


    {% endblock content %}