

{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'styles/CSSstyle_search.css' %}">



<div class="limiter">
        
    {% include 'messages.html' %}
    <div class="container-table100">
        <center>
            <h1 style="color: black; " class="m-b-30"><b>Results</b></h1>
        </center>
        <div style='width:100%'>
            <div class="table">
                <div class="row header" id="myheader">
                    <div class="cell col-7">Name</div>
                    <div class="cell col-1">Id</div>
                    <div class="cell col-1">Department</div>
                    <div class="cell col-1">Level</div>
                    <div class="cell col-1">GPA</div>
                    <div class="cell col-1">Status</div>
                    <div class="cell col-1"></div>
                    <div class="cell col-1"></div>
                </div>

                {% for x in hh %}
                <div class="row" id="del' + id + '" >
                    <div class="cell col-7">{{x.name}}</div>
                    <div class="cell col-1">{{x.id}}</div>
                    <div class="cell col-1">{{x.department}}</div>
                    <div class="cell col-1">{{x.level}}</div>
                    <div class="cell col-1">{{x.gpa}}</div>
                    <div class="cell col-1" data-title="Status">{{x.status}}</div>
                    <div class="cell col-1 container-login100-form-btn ">               
                        <button class="login100-form-btn  m-t-3 "  onclick="location.href='update2'+'?StudentNUM={{x.id}}' " data-id={{x.id}} >
                            Update Student
                        </button>    
                    </div>
                    <div class="cell col-1 container-login100-form-btn ">               
                        <button class="login100-form-btn goout m-t-3 "  onclick="location.href='departmentassign/{{ x.id }}' " data-id={{x.id}} >
                            Assign Department
                        </button>    
                    </div> 
                </div>
                {% endfor %}    

            </div>

        </div>
        <div class="cell col-1 container-login100-form-btn ">               
            <button class="login100-form-btn m-t-3 "  onclick="location.href='search' " data-id={{x.id}} >
                Go Back
            </button>    
        </div> 
    </div>




</div>
{% endblock content %}