
{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'styles/CSSstyle_deletestudent.css' %}">
    <title>Active Students</title>
    <link rel="stylesheet" href="{% static 'styles/CSSstyle_active.css' %}">
    
</head>
<body >
    <div class="limiter">
        {% include 'messages.html' %}
        <div class="container-table100">
            <center>
                <h1 style="color: black; " class="m-b-30"><b>Active Students</b></h1>
            </center>
				
                    <div style='width:100%'>
                        <div class="table">
                            <div class="row header" id="myheader">
                                <div class="cell col-10">Name</div>
                                <div class="cell col-auto">Id</div>
                                <div class="cell col-auto">Department</div>
                                <div class="cell col-auto">Level</div>
                                <div class="cell col-auto">GPA</div>
                                <div class="cell col-auto">Status</div>
                                
                            </div>
                            {% for x in actstud %}
                            <div class="row" id="del' + id + '" >
                                <div class="cell col-10">{{x.name}}</div>
                                <div class="cell col-auto">{{x.id}}</div>
                                <div class="cell col-auto">{{x.department}}</div>
                                <div class="cell col-auto">{{x.level}}</div>
                                <div class="cell col-auto">{{x.gpa}}</div>
                                <div class="cell col-auto">{{x.status}}</div>
                   
                            </div>               
                            {% endfor %}
                        </div>          
                    </div>
        </div>	
	
    </div>
        

</body>
</html>
{% endblock content %}