    {% extends 'base.html' %}
    {% load static %}
    {% block content %}
    
    <link rel="stylesheet" href="styles/CSSstyle_departmentassign.css">
    <link rel="stylesheet" href="{% static 'styles/CSSstyle_search.css' %}">
    <link rel="stylesheet" href="styles/CSSstyle_profile.css">

<body>
    <div class="limiter">
        <div class="container-login100">
            {% include 'messages.html' %}
            <div class="wrap-login100">
                <div class="login100-form-title">
                    <span class="login100-form-title-1">
                        Your Profile
                    </span>
                </div>

                <form class="login100-form" method="GET" action='updateadmindata'>
                    {% csrf_token %}

                    <div class="wrap-input100 m-b-26">
                        <span class="label-input100">Name</span>
                        <input class="input100" type="text" value='{{Name}}' id="namea" name="adminName1" required>
                    </div>

                    <div class="wrap-input100 m-b-26">
                        <span class="label-input100">Birth Date</span>
                        <input class="input100" type="text" value='{{BirthDate}}' id="doba" name="adminDob1" required min="1950-01-01" max="2006-12-12">
                    </div>

                    <div class="wrap-input100 m-b-26">
                        <span class="label-input100">National Number</span>
                        <input class="input100" type="number" value='{{NationalNumber}}' name="national1"  id="nna" readonly>
                    </div>

                    <div class="wrap-input100 m-b-26">
                        <span class="label-input100">Phone</span>
                        <input class="input100" type="number" value='{{Phone}}' name="PHONEE1"  maxlength="14" id="phonea">
                    </div>

                    <div class="wrap-input100 m-b-26">
                        <span class="label-input100">Email</span>
                        <input class="input100" type="text" value='{{Email}}' name="emaila1" id="emaila">
                    </div>

                    <div class="wrap-input100 m-b-26">
                        <span class="label-input100">Username</span>
                        <input class="input100" type="text" value='{{Username}}' name="adminusername1" id="usernamea">
                    </div>

                    <div class="wrap-input100 m-b-26">
                        <span class="label-input100">Password</span>
                        <input class="input100" type="text" value='{{Password}}' name="adminpass1" id="passwordd">
                    </div>
                    <div class="flex-sb-m w-full p-b-30 m-t-20">
                        
                        <button class="login100-form-btn" id="upda" type='submit'>
                           Update data  
                        </button> <a href="/signout">
                        <div class="login100-form-btn goout" id="goout" >
                            Sign Out
                        </div>
                        </a> 
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

{% endblock content %}