#goout {
    background-color: red;
    cursor: pointer;
}

#goout:hover {
    background-color: #333333;
}

.login100-form-btn {
    cursor: pointer;
}

#welcomewelcome {
    background-color: rgba(54, 84, 99, 0.7);
}

#navitemswhite {
    color: #fff;
}

#navitemswhite:hover {
    color: green;
}

#activelist {
    margin-top: 20px;
}

#myheader {
    background: #6c7ae0;
}