
  .login100-form-btn{
    cursor: pointer;

  }

  #welcomewelcome{
    background-color: rgba(54,84,99,0.7);
  }
 
  #navitemswhite{
      color:#fff;
  }
 #navitemswhite:hover{
     color: green;
 }